@model EntryExamsApp.Models.Examiner

@{
    ViewData["Title"] = "Добавить";
}

<main class="container py-3">
    <h2>Добавить экзаменатора</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Patronymic" class="control-label"></label>
                    <input asp-for="Patronymic" class="form-control" />
                    <span asp-validation-for="Patronymic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExamPrice" class="control-label"></label>
                    <input asp-for="ExamPrice" class="form-control" />
                    <span asp-validation-for="ExamPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Фото</label>
                    <input name="Photo" type="file" class="form-control-file" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group pt-2">
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Обратно к списку</a>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
