@model IEnumerable<EntryExamsApp.Models.Enrollee>

@{
    ViewBag.Title = "Запрос 1";
}

<main class="container-fluid py-3">

    <div class="row p-3">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a asp-action="Query1" class="nav-link active">Запрос 1</a>
                <a asp-action="Query2" class="nav-link">Запрос 2</a>
                <a asp-action="Query3" class="nav-link">Запрос 3</a>
                <a asp-action="Query4" class="nav-link">Запрос 4</a>
                <a asp-action="Query5" class="nav-link">Запрос 5</a>
                <a asp-action="Query6" class="nav-link">Запрос 6</a>
                <a asp-action="Query7" class="nav-link">Запрос 7</a>
                <a asp-action="Query8" class="nav-link">Запрос 8</a>
            </div>
        </div>

        <div class="col-md-8 offset-1 shadow">
            <h2 class="pt-2">Запрос 1</h2>
            <p>Выбирает из таблицы АБИТУРИЕНТЫ информацию об абитуриентах, фамилия которых начинается с заданной буквы</p>

            <form class="form-inline pb-3" asp-action="Query1" method="get">
                <label for="startsWith">Начало фамилии:</label>
                <input id="startsWith" name="startsWith" value="@ViewBag.StartsWith" class="ml-2 form-control" />
                <input type="submit" class="ml-3 btn btn-primary" value="Поиск">
            </form>

            @await Html.PartialAsync("_EnrolleesTable", Model)
        </div>
    </div>
</main>