@{
    ViewBag.Title = "Экзаменационное задание";
}
<main class="container py-3">

    <section class="row py-3">
        <h2>Задача 2</h2>
        <p>Разработайте ASP.NET Core MVC приложение в том же решении, что и проекты к Задаче 1. База данных должна быть размещена в LocalDb, для работы с базой данных примените Entity Framework Core.</p>
        <p>Дизайн клиентского приложения произволен, но все-таки требуется выводить данные о разработчике и задание на разработку по отдельным командам.</p>
        <p>Используйте AJAX jQuery для получения и отправки данных (по возможности).</p>


        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>
                        <em>База данных&nbsp;<strong>&laquo;Учет результатов сдачи вступительных экзаменов&raquo;</strong></em>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><em>Описание предметной области</em></strong>
                        <p>База данных должна содержать информацию об абитуриентах, экзаменаторах и результатах сдачи вступительных экзаменов. При занесении информации о конкретном экзамене указывается: дата сдачи экзамена, название экзамена, кто сдавал экзамен, кто принимал экзамен, каков результат сдачи экзамена.</p>
                        <p>Экзаменатор получает за прием экзамена установленную оплату, которая назначается индивидуально. С этой суммы удерживается подоходный налог в размере 13%. Учебное заведение отчисляет в бюджет социальный налог в размере 20% от начисленной преподавателю оплаты за прием экзамена.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><em>База данных должна включать таблицы АБИТУРИЕНТЫ, ЭКЗАМЕНАТОРЫ и ЭКЗАМЕНЫ, содержащие следующую информацию:</em></strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        Фамилия абитуриента
                    </td>
                </tr>
                <tr>
                    <td>
                        Имя абитуриента
                    </td>
                </tr>
                <tr>
                    <td>
                        Отчество абитуриента
                    </td>
                </tr>
                <tr>
                    <td>
                        Адрес абитуриента
                    </td>
                </tr>
                <tr>
                    <td>
                        Год рождения абитуриента
                    </td>
                </tr>
                <tr>
                    <td>
                        Серия-номер паспорта абитуриента
                    </td>
                </tr>
                <tr>
                    <td>
                        Фотография студента
                    </td>
                </tr>
                <tr>
                    <td>
                        Фамилия экзаменатора (преподавателя)
                    </td>
                </tr>
                <tr>
                    <td>
                        Имя экзаменатора (преподавателя)
                    </td>
                </tr>
                <tr>
                    <td>
                        Отчество экзаменатора (преподавателя)
                    </td>
                </tr>
                <tr>
                    <td>
                        Размер оплаты за прием экзамена у одного абитуриента (может различаться для разных преподавателей)
                    </td>
                </tr>
                <tr>
                    <td>
                        Фотография экзаменатора (преподавателя)
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата сдачи экзамена
                    </td>
                </tr>
                <tr>
                    <td>
                        Название дисциплины (история, математика и т.д.)
                    </td>
                </tr>
                <tr>
                    <td>
                        Оценка за экзамен
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong class="text-center">ЗАДАНИЕ НА ВЫПОЛНЕНИЕ</strong>

                        <ul>
                            <li>Определить состав полей базовых таблиц.</li>
                            <li>Определить&nbsp;<strong>свойства</strong>&nbsp;каждого поля в таблице.</li>
                            <li>В каждой таблице определить&nbsp;<strong>ключевое поле</strong>.</li>
                            <li>Определить&nbsp;<strong>тип связей между таблицами</strong>&nbsp;базы данных.</li>
                            <li><strong>Установить связи</strong>&nbsp;между таблицами.</li>
                            <li>Заполнить таблицы данными. Каждая таблица должна содержать&nbsp;<strong>не менее 10 записей</strong>. Начальное заполнение &ndash; классом инициализатором при каждом запуске приложения.</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Вывести таблицы базы данных в отдельные вкладки. Реализовать запросы:</p>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="3" class="text-center">
                        <strong>ЗАПРОСЫ</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Номер запроса</strong>
                    </td>
                    <td>
                        <strong>Тип запроса</strong>
                    </td>
                    <td>
                        <strong>Какую задачу решает запрос</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Запрос на выборку
                    </td>
                    <td>
                        Выбирает из таблицы <strong>АБИТУРИЕНТЫ</strong> информацию об абитуриентах, фамилия которых начинается с заданной буквы
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Запрос на выборку
                    </td>
                    <td>
                        Выбирает из таблицы <strong>ЭКЗАМЕНАТОРЫ</strong> информацию об экзаменаторах, для которых установлен размер оплаты за прием одного экзамена в заданном интервале
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        Запрос на выборку
                    </td>
                    <td>
                        Выбирает из таблицы <strong>ЭКЗАМЕНЫ</strong> информацию об экзаменах, принятых заданным преподавателем
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        Запрос с параметром
                    </td>
                    <td>
                        Выбирает из таблицы <strong>ЭКЗАМЕНАТОРЫ</strong> информацию об экзаменаторе с заданными фамилией, именем, отчеством. Конкретные фамилия, имя и отчество вводятся при выполнении запроса
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        Запрос с параметром
                    </td>
                    <td>
                        Выбирает из таблиц <strong>АБИТУРИЕНТЫ</strong>, <strong>ЭКЗАМЕНАТОРЫ</strong> и <strong>ЭКЗАМЕНЫ</strong> информацию обо всех экзаменах (ФИО абитуриента, ФИО экзаменатора, Наименование дисциплины, Дата сдачи экзамена, Оценка) в некоторый заданный интервал времени. Нижняя и верхняя границы интервала задаются при выполнении запроса
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        Запрос с вычисляемыми полями
                    </td>
                    <td>
                        Вычисляет для каждого экзамена размер налога (Налог=Размер оплаты*13%) и зарплаты экзаменатора (Зарплата=Размер оплаты - Налог). Сортировка по полю&nbsp;Дата сдачи экзамена
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        Итоговый запрос
                    </td>
                    <td>
                        Выполняет группировку по полю&nbsp;Год рождения&nbsp;в таблице <strong>АБИТУРИЕНТЫ</strong>. Для каждой группы определяет количество абитуриентов
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        Итоговый запрос
                    </td>
                    <td>
                        Выполняет группировку по полю&nbsp;Наименование дисциплины&nbsp;в таблице <strong>ЭКЗАМЕНЫ</strong>. Для каждой дисциплины вычисляет среднее значения по полю&nbsp;Оценка
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        Запрос на удаление
                    </td>
                    <td>
                        Удалить данные об абитуриенте, удаление безопасное
                    </td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        Запрос на удаление
                    </td>
                    <td>
                        Удалить данные об экзаменаторе, удаление безопасное
                    </td>
                </tr>
                <tr>
                    <td>
                        11
                    </td>
                    <td>
                        Запрос на удаление
                    </td>
                    <td>
                        Удалить данные о сданном абитуриентом экзамене, удаление безопасное
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        12
                    </td>
                    <td>
                        Запрос на обновление
                    </td>
                    <td>
                        Изменить данные об абитуриенте
                    </td>
                </tr>
                <tr>
                    <td>
                        13
                    </td>
                    <td>
                        Запрос на обновление
                    </td>
                    <td>
                        Изменить данные об экзаменаторе
                    </td>
                </tr>
                <tr>
                    <td>
                        14
                    </td>
                    <td>
                        Запрос на обновление
                    </td>
                    <td>
                        Изменить данные о сданном абитуриентом экзамене
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        15
                    </td>
                    <td>
                        Запрос на добавление
                    </td>
                    <td>
                        Добавить абитуриента
                    </td>
                </tr>
                <tr>
                    <td>
                        16
                    </td>
                    <td>
                        Запрос на добавление
                    </td>
                    <td>
                        Добавить преподавателя
                    </td>
                </tr>
                <tr>
                    <td>
                        17
                    </td>
                    <td>
                        Запрос на добавление
                    </td>
                    <td>
                        Добавить запись о сданном экзамене
                    </td>
                </tr>
            </tbody>
        </table>
        <p>Срок выполнения задания &ndash; 2 недели, до 23.10.2020.</p>
        <br />
        <p>Запись занятия можно скачать <strong><a href="https://cloud.mail.ru/public/5Fsc/22EtBdsNQ">тут</a></strong>. Материалы занятия &ndash; в этом же архиве.</p>
    </section>
</main>